:root {
  --valid-color: green;
  --invalid-color: red;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  padding: 15px 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | color */
  background-color: white;
}

.form {
  padding: 30px 40px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.rounded {
  border-radius: 5px;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: gray;
}

.form-item input {
  display: block;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1.5px;
  padding: 10px 8px;
  font-size: 14px;
  width: 100%;
}
.form-item input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1.5px;
}

.form-item.invalid input {
  color: var(--invalid-color);
  outline: var(--invalid-color);
  border: 1.5px solid var(--invalid-color);
}

.form-item.invalid input::placeholder {
  color: var(--invalid-color);
}

.form-item.valid input {
  color: var(--valid-color);
  outline: var(--valid-color);
  border: 1.5px solid var(--valid-color);
}
.form-item.valid input::placeholder {
  color: var(--valid-color);
}

.form-item label {
  display: block;
  padding-bottom: 5px;
  font-size: 18px;
}

.submit-button {
  font-size: 18px;
  border: 0;
  padding: 12px 0px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(31 182 250);
  color: white;
  width: 100%;
}

.form-item small {
  color: var(--invalid-color);
  position: absolute;
  font-size: 11px;
  bottom: 0px;
  visibility: hidden;
}

.form-item.invalid small {
  visibility: visible;
}

.form-item.valid small {
  visibility: hidden;
}

form button {
  cursor: pointer;
  display: block;
}

form button:active {
  background-color: rgb(14 165 233);
}
